* {
    margin: 0;
    padding: 0;
}

.text {
    font-size: 20px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: blinker;
    animation-duration: 8s;
    /* animation-iteration-count: infinite; */
}

@keyframes blinker {
    0% {
        color: black;
        background-color: white;
    }

    /* 20% {
        color: red;
        background-color: yellow;
    } */

    /* 40% {
        color: darkblue;
        background-color: lightblue;
        font-size: 40px;
    }

    60% {
        color: silver;
        background-color: gold;
        font-size: 50px;
    }

    80% {
        color: white;
        background-color: blue;
        font-size: 60px;
    }

    100% {
        color: green;
        background-color: lightgreen;
        font-size: 70px;
    } */
}